apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: denisov-namespace
images:
  - name: nginx
    newName: nginx
    newTag: 1.23.2-alpine
  - name: dreamlabssdock/sampleapp
    newTag:  v1.0.1



resources:
- ../../base
- ingress.yaml
- namespace.yaml
- certificate.yaml